/*
<!-- section acceuil -->
        <div class="global" id="acceuil">
            
            <section>
                <div class="acceuil__titre">
                <h1>TP2</h1>
                </div>

                <h2>Projet Final</h2>

                <div>
                    <h3>Codé par Léo Paquet-Gauthier</h3>
                    <ul class="acceuil__liste">
                        <li>582-1W1 - Mise en page Web</li>
                        <li>Techniques d'intégration multimédia</li>
                        <li>Collège de Maisonneuve</li>
                        <li><a href="https://github.com/Leopg23/tp2">github</a></li>
                        <li>Automne 2023</li>
                    </ul>
                </div>
                
            </section>
        </div>
*/

#acceuil{
    background-color: lightblue;
}

#acceuil section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px ;
}

#acceuil section h2{
    padding-top: 100px;
}

.acceuil__titre{
    width: 100%;
    display: flex;
    justify-content: center;
}

.acceuil__titre h2{
    padding-top: 100px;
    font-size: 2em;
 }

.acceuil__liste{
    margin-top: 25px;
    list-style-type: none;
}

.acceuil__liste li{
    padding: 5px;
}
