
/*----------------------------------------------------------------------------------initialisation*/
*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

*,::before,::after{
    box-sizing: inherit;
}

body{
display: flex;
flex-direction: column;
width: 100vw;
}

.global{
    display: flex;
    justify-content: center;
    min-width: 100%;
    border: 1px solid #aaa;
    min-height: 100vh;
}

.global section{
    flex:0 1 1000px;
    border:1px solid #aaa;
    background-color: rgba(0, 0, 0, 0.2);
    
}

#acceuil{
    background-color: gold;
}

#inscription{
    background-color: blueviolet;
}

#tableau{
    background-color: darkgreen;
}

#article{
    background-color: deeppink;
}

#galerie{
    background-color: lightblue;
}

#video{
    background-color: yellow;
}


