
/*----------------------------------------------------------------------------------initialisation*/
*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

*,::before,::after{
    box-sizing: inherit;
}

body{
display: flex;
flex-direction: column;
width: 100vw;
}

.global{
    min-width: 100%;
    border: 1px solid #aaa;
    min-height: 100vh;
}

#acceuil{
    background-color: gold;
}

#inscription{
    background-color: blueviolet;
}
